body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100vh;
    background: radial-gradient(#ffffff, var(--background));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    --background:#dedede;
    --primary:#0ea5e9;
}

.tabs {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.5rem;
    display: flex;
    background-color: #fff;
    border-radius: 1000px;
    box-shadow: 0 0 1px 0 rgb(24, 94, 224, 0.15), 
    0 6px 12px 0 rgb(24, 94, 224, 0.15);
    list-style: none;
    position: relative;
}

input[type="radio"] {
    display: none;
}

.tab {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    /* border-radius: inherit; */
    /* cursor: pointer; */
}

.tab label {
    /* z-index: 2; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tab span {
    z-index: 2;
}

.tabs .slider {
    width: 150px;
    height: 50px;
    position: absolute;
    border-radius: 1000px;
    background-color: #0ea4e9;
    z-index: 0;
    transition: 0.3s ease;
}

.slider {
    display: none;
}

input[type="radio"]:checked + label {
    color: #ffffff;
}

input[id="html"]:checked + label .slider {
    display: inline-block;
    /* transform: translateX(0); */
}

input[id="css"]:checked + label .slider {
    display: inline-block;
    /* transform: translateX(100%); */
}

input[id="js"]:checked + label .slider {
    display: inline-block;
    /* transform: translateX(200%); */
}

input[id="react"]:checked + label .slider {
    display: inline-block;
    /* transform: translateX(100%); */
}