.d-flex {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #000;
    flex-wrap: nowrap;
}

.d-flex .box {
    width: 300px;
    background: #285bca;
    color: #fff;
}

.flex-wrap {
    flex-wrap: wrap;
}