body {
    background: #f3f4f6;
}

.header {
    background: #0d9488;
    color: #fff;
    height: 60px;
}

.header .wrap {
    display: flex;
    align-items: center;
    height: 100%;
}

.header .wrap h1 {
    font-size: 24px;
    font-weight: 500;
}

.main {
    min-height: calc(100vh - 120px);
}

.footer {
    background: #1f2937;
    color: #fff;
    text-align: center;
    height: 60px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

.cards .item {
    width: 340px;
    background: #ffffff;
    border-radius: 10px;
}

.cards .img {
    height: 150px;
    background: #dedede;
    color: #909090;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards .wrap {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    /* .wrap高度 = 100% - 上面.img的高度 以對齊 */
    height: calc(100% - 150px);
}

.cards .wrap .title {
    font-size: 20px;
    font-weight: 800;
    color: #064d73;
}

.cards .wrap .desc {
    font-size: 14px;
    color: #909090;
}

.cards .wrap .btn {
    padding: 10px 20px;
    background: #5992e2;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.cards .wrap .btn:hover {
    background: #0968ee;
    box-shadow: 3px 3px 5px 0px #000;
}
