.student-table {
    width: 100%;
    border-collapse: collapse;
}

.student-table th {
    background-color: #041092;
    color: #fff;
}

.student-table th,
.student-table td {
    border: 1px solid #000;
    padding: 10px;
}

.student-table tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

.student-table td:nth-child(4) {
    text-align: right;
}

.print-fn {
    margin-bottom: 20px;
    text-align: right;
}

.print-btn {
    padding: 5px 15px;
    background-color: #041092;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.print-btn:hover {
    background-color: #4451df;
}

/* 列印時的 media query */
@media print {
    .print-fn {
        display: none;
    }

    .student-table th,
    .student-table td {
        background: transparent;
        color: #000;
    }
}
