.box {
    width: 200px;
    height: 200px;
    background-color: #3659e9;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: static; */
    position: relative;
    left: 100px;
}