.box {
    padding: 20px;
    background-color: #3659e9;
    color: #fff;
}

.box::before {
    content: 'Say ';
}

.box::after {
    content: ''; /* 必須有 content */
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 20px;
}

.menu li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu li::before {
    content: '\e87d';
    font-family: 'Material Icons';
    color: #ff2a2a;
    font-size: 20px;
}