html,
body {
    font-size: 18px;
    font-family: "Noto Sans HK", sans-serif;
}

/* 頁首 */
.header {
    /* background: #000; */
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 9;
}

.header .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.header .logo {
    font-size: 1rem;
    font-weight: 600;
}

/* Menu */
.header .menu ul {
    display: flex;
    gap: 8px;
}

.header .menu li a {
    padding: 8px 15px;
    border-radius: 10px;
    transition: all 0.3s ease; /* 過渡動畫 */
}

.header .menu li:hover a {
    background: #fff;
    color: #1f2937;
}

/* Active */
.header .menu li.active a {
    background: #f7ca01;
    color: #111827;
}

/* 當容器 li 有 .active 而且 hover(狀態的改變) 的時候，a 的背景顏色要變成 #e4bf1b */
.header .menu li.active:hover a {
    background: #f9db54;
}

/* 頁尾 */
.footer {
    background: #1f2937;
    color: #fff;
}

.footer .copyright {
    text-align: center;
    font-size: 0.8rem;
}

/* 主要 */
.main {
    height: 100vh;
    background: linear-gradient(to right, #667eea, #764ba2);
}

/* 背景遮罩 */
.main .main-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000052;
    z-index: 1;
}

/* 主要內容 */
.main .main-content {
    position: relative;
    height: 100%;
    z-index: 2;
}

.main .wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #fff;
}

/* 標題 */
.main .title {
    font-size: 3rem;
    font-weight: 700;
}

/* 內容 */
.main .content {
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: center;
}

/* 按鈕 */
.main .btn-group {
    display: flex;
    gap: 20px;
}

/* 定義外型 */
.main .btn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: #dedede;
    color: #1c1c1c;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.5s ease, background 0.5s ease, border-color 0.5s ease;
}

.main .btn:hover {
    background: #b4b4b4;
}

/* 按鈕 邊框樣式 */
.main .btn.outline {
    background: transparent;
    border: 2px solid #dedede;
    color: #fff;
}

.main .btn.outline:hover {
    border-color: transparent;
    background: #fff;
    color: #1e1e1e;
}

/* 定義主要狀態 */
.main .btn.primary {
    background: #f7ca01;
    color: #484848;
}

.main .btn.primary:hover {
    background: #f9db54;
}

/* .danger樣式 */
.main .btn.danger {
    background: #ff231f;
    color: #fff;
}

.main .btn.danger:hover {
    background: #f5513f;
}

/* 關於我們 */
.about {
    padding: 80px 0;
}

.about .wrap .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.about .row .col {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 1px 3px 3px rgb(28 28 28 / 19%);
}

.about .title {
    color: #1f2937;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.about .subtitle {
    color: #4f46e5;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.about .content {
    color: #606060;
    text-align: center;
    line-height: 1.5;
}

/* .about .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
