html,
body {
    font-size: 16px;
    font-family: "Noto Sans TC", sans-serif;
}

.container {
    max-width: 1000px;
}

.header {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 9;
}

.header .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .menu ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header .menu li:first-child {
    display: none;
}

.header .menu li a {
    padding: 8px 15px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.header .menu li.active a {
    background: #ffd723;
    color: #1e1e1e;
}

.header .menu li:hover a {
    background: #fff;
    color: #1e1e1e;
}

/* 當容器 li 有 .active 而且 hover(狀態的改變) 的時候，a 的背景顏色要變成 #e4bf1b */
.header .menu li.active:hover a {
    background: #e4bf1b;
}

.header .mobile-menu {
    width: 35px;
    display: none;
}

.header .menu-icon {
    width: 100%;
    display: grid;
    gap: 5px;
    cursor: pointer;
}

.header .menu-icon > span {
    display: block;
    width: 100%;
    height: 5px;
    background: #fff;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.header .menu-icon:hover > span {
    background: #e4bf1b;
}

#mobile-menu-toggle {
    display: none;
}

#mobile-menu-toggle:checked + .wrap .menu-icon > span:nth-child(1) {
    transform: rotate(45deg) translateY(6px) translateX(10px);
}

#mobile-menu-toggle:checked + .wrap .menu-icon > span:nth-child(2) {
    opacity: 0;
}

#mobile-menu-toggle:checked + .wrap .menu-icon > span:nth-child(3) {
    transform: rotate(-45deg) translateX(8px) translateY(-4px);
}

.footer {
    background: #080648;
    color: #fff;
}

.footer .copyright {
    text-align: center;
    font-size: 0.8rem;
}

.main {
    height: 100vh;
    background: linear-gradient(to right, #667eea, #764ba2);
}

.main .main-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000004e;
    z-index: 1;
}

.main .main-content {
    position: relative;
    height: 100%;
    z-index: 2;
}

.main .wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #fff;
}

.main .title {
    font-size: 3rem;
    font-weight: 700;
}

.main .content {
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: center;
}

.main .btn-group {
    display: flex;
    gap: 20px;
}

/* 定義外型 */
.main .btn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: color 0.5s ease, background 0.5s ease, border-color 0.5s ease;
    background: #dedede;
    color: #1c1c1c;
    font-size: 1.1rem;
    font-weight: 500;
}

.main .btn:hover {
    background: #b4b4b4;
}

.main .btn.outline {
    background: transparent;
    border: 2px solid #dedede;
    color: #fff;
}

.main .btn.outline:hover {
    border-color: transparent;
    background: #fff;
    color: #1e1e1e;
}

/* 定義主要狀態 */
.main .btn.primary {
    background: #1f31d3;
    color: #fff;
}

.main .btn.primary:hover {
    background: #1828b6;
}

.main .btn.danger {
    background: #ff401f;
    color: #fff;
}

.main .btn.danger:hover {
    background: #d43518;
}

.main .btn.success {
    background: #00b894;
    color: #fff;
}

.main .btn.success:hover {
    background: #009678;
}

.main .btn.warning {
    background: #ff9f1c;
    color: #fff;
}

.main .btn.warning:hover {
    background: #d98910;
}

.about {
    padding: 80px 0;
}

.about .wrap .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.about .row .col {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 3px 3px rgb(28 28 28 / 19%);
    transition: all 0.5s ease;
}

.about .row .col:hover {
    transform: scale(1.05) translateY(-5px);
}

.about .title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.about .subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    color: #4f46e5;
}

.about .content {
    text-align: center;
    line-height: 1.5;
    color: #606060;
}

.mobile-menu-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #0000004e;
    z-index: 8;
    opacity: 0;
    transition: opacity 0.5s ease;
}

@media (max-width: 768px) {
    .main .title {
        font-size: 2.5rem;
    }

    .main .content {
        font-size: 1.1rem;
    }

    .main .btn-group {
        width: 100%;
        flex-direction: column;
    }

    .main .btn {
        width: 80%;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .about .wrap .row {
        grid-template-columns: 1fr;
    }

    .header .mobile-menu {
        display: block;
        position: relative;
        z-index: 10;
    }

    .header .menu {
        transition: all 0.5s ease;
        position: fixed;
        left: -100%;
        top: 0;
        height: 100vh;
        width: 50%;
        background: #9567c4;
        z-index: 9;
        padding: 60px 20px;
    }

    #mobile-menu-toggle:checked + .wrap .menu {
        left: 0;
    }

    #mobile-menu-toggle:checked + .wrap .mobile-menu-mask {
        opacity: 1;
        height: 100%;
    }

    .header .menu ul {
        flex-direction: column;
    }

    .header .menu li {
        width: 100%;
    }

    .header .menu li:first-child {
        display: block;
    }

    .header .menu li a {
        width: 100%;
        display: block;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .header .menu {
        width: 100%;
    }
}
