.face {
    width: 300px;
    height: 300px;
    background-color: #f7a14c;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: calc(50vh - 150px);
}

.face .eye {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 100px;
    position: absolute;
    top: 50px;
    left: 25px;
}

.face .eye.right {
    right: 25px;
    left: unset;
}

.face .eye-ball {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #000;
    position: absolute;
    top: calc(50% - 20px);
    right: calc(50% - 20px);
}

.face .nose {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #ee29b9;
    position: absolute;
    top: 150px;
    left: 50%;
    /* 外邊距往回縮25px 才會置中 */
    margin-left: -25px;
}

.face .nose .dot {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: #fff;
    position: absolute;
    top: 60%;
    left: 10px;
}

.face .nose .dot:last-child {
    left: unset;
    right: 10px;
} 

.face .mouth {
    width: 150px;
    height: 50px;
    background: #fe7a7a;
    border-radius: 10px;
    position: absolute;
    left: calc(50% - 75px);
    bottom: 30px;
    overflow: hidden;
}

.face .mouth .tooth {
    width: 25px;
    height: 30px;
    background: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 2;
}

.face .mouth .tooth.right {
    left: unset;
    right: 40px;
}

.face .mouth .tongue {
    width: 50px;
    height: 60px;
    background: #ff0000;
    border-radius: 100px;
    position: absolute;
    bottom: -25px;
    left: calc(50% - 25px);
}