@import "./components/reset";

:root {
    --color: #304ec7;
}

.title {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 10px;
    color: var(--color);
    border-bottom: 2px solid var(--color);
    margin-bottom: 20px;
}

.number-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;

    .input-group {
        display: grid;
        grid-template-columns: 70px 1fr;
        gap: 5px;
        align-items: center;

        input {
            width: 100%;
            height: 40px;
            padding: 0 10px;
            border: 1px solid #dedede;
            border-radius: 5px;
            outline: none;
            &:focus {
                border-color: #304ec7;
            }
        }
    }
}

.btn-wrap {
    text-align: right;
    margin-bottom: 20px;

    .btn {
        padding: 5px 10px;
        border: 0;
        border-radius: 5px;
        background-color: #5acdfb;
        color: #3a3a3a;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: #39a3cd;
            color: #fff;
        }
    }
}

.table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid #dedede;
        padding: 5px;
        text-align: center;
    }

    th {
        background-color: #f0f0f0;
    }

    tbody tr td:nth-child(1) {
        font-weight: bold;
        background-color: #f0f0f0;
    }
}
