@import "components/reset";
:root {
    --color: #8c55f3;
}

.demo-title {
    color: var(--color);
    text-align: center;
    border-bottom: 2px solid var(--color);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.input-group {
    display: grid;
    gap: 5px;
    margin-bottom: 20px;

    .sub-title {
        font-weight: 500;
        font-size: 1.5rem;
        padding-left: 10px;
    }

    input {
        width: 100%;
        height: 40px;
        border: 1px solid #ccc;
        padding: 0 20px;
        border-radius: 5px;
        outline: none;
        font-size: 16px;

        &:focus {
            border-color: var(--color);
        }
    }
}

.fn {
    text-align: right;
    margin-bottom: 20px;

    button {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: var(--color);
        color: #ddd;
        font-size: 16px;
        transition: background-color 0.3s ease;
        cursor: pointer;

        &:hover {
            background-color: #6732c9;
        }
    }
}

.result {
    padding: 20px;
    border-width: 10px;
    border: 2px dotted var(--color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #333;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.show {
        opacity: 1;
    }
}
